<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqgcxy.authsys.dao.SysMenuDao">
    <resultMap id="BaseResultMap" type="com.cqgcxy.authsys.domain.SysMenuDO">
        <id column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="sort_code" jdbcType="INTEGER" property="sortCode"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_leaf" jdbcType="INTEGER" property="isLeaf"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <!-- 配置子菜单的一对多关系 -->
        <collection property="subMenuList" ofType="com.cqgcxy.authsys.domain.SysMenuDO" select="findByParentId" column="menu_id">
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
    menu_id, menu_name, parent_id, url, icon, sort_code, `status`, remark, is_leaf, create_time, 
    update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        where menu_id = #{menuId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.cqgcxy.authsys.domain.SysMenuDO">
    insert into sys_menu (menu_id, menu_name, parent_id, 
      url, icon, sort_code, 
      `status`, remark, is_leaf, 
      create_time, update_time)
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{sortCode,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{isLeaf,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.cqgcxy.authsys.domain.SysMenuDO" useGeneratedKeys="true"
            keyProperty="id">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="menuName != null">
                menu_name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="icon != null">
                icon,
            </if>
            sort_code,
            `status`,
            <if test="remark != null">
                remark,
            </if>
            is_leaf,
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=INTEGER},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            #{sortCode,jdbcType=INTEGER},
            #{status,jdbcType=INTEGER},
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            #{isLeaf,jdbcType=INTEGER},
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cqgcxy.authsys.domain.SysMenuDO">
        update sys_menu
        <set>
            <if test="menuName != null">
                menu_name = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="sortCode != null">
                sort_code = #{sortCode,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isLeaf != null">
                is_leaf = #{isLeaf,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cqgcxy.authsys.domain.SysMenuDO">
    update sys_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      sort_code = #{sortCode,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      is_leaf = #{isLeaf,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
    <!-- 以下是开发人员自定义接口 -->
    <select id="findAll" resultMap="BaseResultMap">
        select
            p.*
        from
            sys_menu p
    </select>
    <select id="findById" parameterType="Integer" resultMap="BaseResultMap">
        select
            p.*,
            sub.menu_id,
            sub.menu_id,
            sub.is_leaf
        from
            sys_menu p
            left join sys_menu sub on sub.parent_id = p.menu_id
        where p.menu_id = #{menuId, jdbcType=INTEGER}
    </select>
    <select id="findByParentId" resultMap="BaseResultMap">
        select * from sys_menu where parent_id=#{0}
    </select>
</mapper>